.card{
    color: rgb(224, 224, 224);
    background: rgb(30, 33, 36);
    width: 300px;
    margin: 0 auto;
    margin-top: 80px;
    border: 5px solid blue;
    border-radius: 20px;
    padding: 50px;
}