.mainimage{
    width: 300px;
    display: block;
    margin: 0 auto;
}
.mainimage img{
    width: 100%;
    height: auto;
}
.main{
    margin-top: 100px;
}
.btn{
    margin-top: 20px;
    text-align: center; 
}
.search{
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.search input{
    width: 100%;
    height: auto;
}
