* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    align-items: center;
}
.card {
    width: 90%;
    max-width: 550px;
    background-color: #ddebf8;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    padding: 30px;
    box-sizing: border-box;
    border-bottom: 8px solid #decefe;
}
.card-photo {
    width: 180px;
    height: auto;
    display: block;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.card-info {
    color: #000;
    text-align: center;
}
.card-info h2 {
    margin: 0 0 10px 0;
    font-size: 1.5rem;
    font-family: serif;
}
.card-info p {
    margin: 5px 0;
    font-family: sans-serif;
    font-weight: 500;
}
