* {
    box-sizing: border-box;
}
body {
    background-image: url("/assets/blackjack-materials/table.webp");
    background-size: cover;
    text-align: center;
}
h1 {
    color: goldenrod;
    font-size: 3rem;
}
p {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
#message-el {
    font-size: 1.8rem;
    font-style: italic;
}
#startgame {
    background-color: goldenrod;
    color: #016f32;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}
