* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}
.mainimage{
    width: 300px;
    display: block;
    margin: 0 auto;
}
.mainimage img{
    width: 100%;
    height: auto;
}
.main{
    margin-top: 100px;
}
.buttondiv{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn{
    margin: 0;
    margin-top: 20px;
    background: #dfe1e5; 
    border: 1px solid #cfd9de;
    border-radius: 10px;
    padding: 5px 10px;
}
.search{
    width: 600px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.search input{
    width: 100%;
    line-height: 24px;
    border-radius: 24px;
    padding: 10px 30px;
    border: 1px solid #dfe1e5;
}
@media (max-width: 768px) {
    body {
        justify-content: center;
    }
    .mainimage {
        width: 60%;
        height: auto;
    }
    .main {
        margin: 0;
    }
    .search {
        max-width: 90%;
    }
}