body {
    background-image: url("/assets/Space.gif");
    background-size: cover;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    
}
.hero {
    font-size: 1.1rem;
    margin: 100px;
    color: white;
;

}
.btn {
    background: white;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    font-family: inherit;
}
.cta {
    border-bottom: 4px solid white;
}
#img {
    width: 150px;
}
.term {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 10px;
}