body {
    color: white;
    background-image: url("/assets/universe.jpg");
    background-size: cover;
    margin: 100px;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-size: 1.1rem;
}
.btn {
    background: white;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    font-family: inherit;
}
.cta {
    text-decoration: underline;
}
#img {
    width: 150px;
}